body{ 
	margin: 0;
}

header{
	background-color: #571AC6;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: white;
	font-size: 50px;
}

h1, h2 {
	font-family: 'Press Start 2P', cursive;

}

header img {
	border-radius: 170px;
	border-width: 300px;
	border: 7.4px solid white;
}

Main {
	max-width: 800px;
	margin:  0 auto;
	padding: 5px 30px 40px 50px;
}

main {
	

}